@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image: linear-gradient(to bottom, #fafafa, lightgray 20%, black);
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside.foto {
    background-image: url(../imagens/imagem.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: right ;
    border-radius: 30px 30px 0 0;
    height: 35%;
}

main {
    background-color: #fafafa;
    width: 320px;
    height: 650px;
    border-radius: 30px;
    margin: auto;
}

main > h1 {
    text-align: center;
    padding: 10px 0;
    
}

main > p {
    padding: 5px 15px;
}

form {
    padding: 5px;
}

form > fieldset {
    background-color: gray;
    padding: 3px 3px 1px 3px;
    height: 48px;
    margin: 5px;
    display: flex;
    border-radius: 10px;
    border: none;
}

form input {
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.897);
    width: 87%;
    padding-left: 5px;
    border-radius: 8px; 
    border: none;
}

form input:hover {
    background-color: white;
}


label span.material-symbols-outlined {
    color:white ;
    width: 10%;
    font-size: 30px;
    padding: 8px;
}

button {
    cursor: pointer;
}

button#entrar {
    font-size: 1.1em;
    background-color: rgb(56, 56, 56);
    color: white;
    display: block;
    margin: auto;
    border: none;
    width: 97%;
    height: 50px;
    border-radius: 8px;
}

button#entrar:hover {
    background-color: black;
}

button#esqueci {
    font-size: 1.1em;
    background-color: #fafafa;
    color: rgb(56, 56, 56);
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 97%;
    height: 50px;
    border-radius: 8px;
    border-color: rgb(56, 56, 56);
}

button#esqueci:hover {
    background-color: black;
    color: #fafafa;
}

button#esqueci > span.material-symbols-outlined.mail {
    font-size: 15px;
    color: rgb(56, 56, 56);
}

button#esqueci:hover > span.material-symbols-outlined.mail {
    color: rgba(211, 211, 211, 0.63);
}


